doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        h1
            p Welcome to the User page 
        div 
            p 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.